<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


		
		<bean class="com.ar.beans.MememberShip" id="mememberShip">
			<property name="cardNumber" value="12345"/>
			<property name="type" value="gold"/>
		</bean>	
		
		<bean class="com.ar.beans.BillGenrator" id="billGenrator">
		</bean>
		
		<bean class="com.ar.aspect.AfterAspect" id="afterAspect">
		</bean>
		
		<aop:config>
			<aop:aspect ref="afterAspect">
				<aop:after-returning method="discount" pointcut="execution(* com.ar.beans.*.genrate(..))" returning="ret"/>
			</aop:aspect>
		</aop:config>


</beans>
